---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    title: "Contribuidor",
    company: "Trabajo en equipo",
    description:
      "Participé como colaborador en un proyecto de código abierto liderado por la streamer Afor Digital. En este proyecto, trabajé junto a un equipo de seis contribuidores adicionales, utilizando Discord como nuestra principal herramienta de comunicación y colaboración. Durante el desarrollo, propusimos y discutimos nuevas funcionalidades para el proyecto, asegurándonos de implementar las mejores soluciones posibles. También colaboré activamente ayudando a otros miembros del equipo en la implementación de características, promoviendo un ambiente de aprendizaje mutuo y trabajo en equipo.",
    link: "https://github.com/afordigital/palette-generator",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
