---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    // date: "Actualmente...",
    title: "Contribuidor",
    company: "Trabajo en equipo",
    description:
      "Participé como colaborador en un proyecto de código abierto liderado por la streamer Afor Digital. En este proyecto, trabajé junto a un equipo de seis contribuidores adicionales, utilizando Discord como nuestra principal herramienta de comunicación y colaboración. Durante el desarrollo, propusimos y discutimos nuevas funcionalidades para el proyecto, asegurándonos de implementar las mejores soluciones posibles. También colaboré activamente ayudando a otros miembros del equipo en la implementación de características, promoviendo un ambiente de aprendizaje mutuo y trabajo en equipo.",
    link: "https://github.com/afordigital/palette-generator",
  },
  {
    // date: "Septiembre 2022",
    title: "Proyecto personal",
    company: "Full stack",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
